In [32]:
using CSV, DataFrames

In [33]:
pname = "PA01"

"PA01"

# $$\frac{dP_{wf}}{dt}$$

In [42]:
df = DataFrame(CSV.File("../data/producer_data.csv"))
df = filter(:Name => n -> n == pname, df)
df = select(df, :"Av BHP", :"Name", :Column1)
df = rename!(df, [:"Av BHP", :"Name", :"Time"])
first(df, 5)

5×3 DataFrame
 Row │ Av BHP   Name     Time
     │ Float64  String7  Int64
─────┼─────────────────────────
   1 │ 1306.9   PA01         0
   2 │ 1300.32  PA01         1
   3 │ 1295.71  PA01         2
   4 │ 1270.42  PA01         3
   5 │ 1276.96  PA01         4